---
title: Sesiunea
slug: the-session
date: 0005/01/02
number: 5.5
sidebar: true
contents: Descopera obiectul Session|Invata despre functia autorun|Afla despre Hot Code Reload
paragraphs: 33
---

Meteor este un framework reactiv. Asta înseamnă că pe măsură ce se schimbă datele, obiectele din aplicația ta se schimbă fără ca tu să trebuiască să specifici asta explicit.

Am văzut deja asta în acțiune prin modul în care template-urile noastre se schimbă pe măsură ce se schimbă datele și ruta actuală.

O să întrăm mai adânc în modul în care funcționează asta în capitolele ulterioare, dar deocamdată, vrem să introducem niște funcții reactive de bază care sunt foarte de folos în aplicațiile tipice.

### The Meteor Session

////

////

////

### Changing the Session

////

~~~js
❯ Session.set('pageTitle', 'A different title');
~~~
<%= caption "Browser console" %>

////

////

~~~html
<header class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="{{pathFor 'postsList'}}">{{pageTitle}}</a>
  </div>
</header>
~~~
<%= caption "client/views/application/layout.html"%>

~~~js
Template.layout.helpers({
  pageTitle: function() { return Session.get('pageTitle'); }
});
~~~
<%= caption "client/views/application/layout.js"%>

////

////

~~~js
❯ Session.set('pageTitle', 'A brand new title');
~~~
<%= caption "Browser console" %>

////

<% note do %>

### Identical Changes

////

<% end %>

### Introducing Autorun

////

////

~~~js
helloWorld = function() {
  alert(Session.get('message'));
}
~~~

////

////

////

~~~js
❯ Deps.autorun( function() { console.log('Value is: ' + Session.get('pageTitle')); } );
Value is: A brand new title
~~~
<%= caption "Browser console" %>

////

~~~js
❯ Session.set('pageTitle', 'Yet another value');
Value is: Yet another value
~~~
<%= caption "Browser console" %>

////

////

~~~js
Deps.autorun(function() {
  alert(Session.get('message'));
});
~~~

////

### Hot Code Reload

////

////

////

~~~js
❯ Session.set('pageTitle', 'A brand new title');
❯ Session.get('pageTitle');
'A brand new title'
~~~
<%= caption "Browser console" %>

////

~~~js
❯ Session.get('pageTitle');
'A brand new title'
~~~
<%= caption "Browser console" %>

////

////

////

~~~js
❯ Session.get('pageTitle');
null
~~~
<%= caption "Browser console" %>

////

////

1. ////
2. ////
